{% extends "ThirtyOneMemberBundle::layout.html.twig" %}


{% block content %}

    <h2>Suggestions des familles</h2>
    <div class="contentBlock clearfix">
        <div class="familyTable">

            {% for fam in famresult %}
                <div class="col3">
                    {% for info in fam.informations %}
                        <img src="{{ asset('uploads/documents/'~info.path|split('.').0~'-1.jpg') }}
                    "/>
                        <h3 class="center">{{ fam.username }}</h3>

                        <p>{{ info.history|length > 250 ? info.history|slice(0, 250) ~ '...' : info.history  }} </p>
                    {% endfor %}

                    <a class="showMore"
                       href='{{ path('thirtyone_member_default_profil', {'slug': fam.slug}) }}'>Rencontrer</a>
                </div>
            {% endfor %}

        </div>
        <div class="viewMore">
            <a class="button"
               href="{{ path('thirtyone_member_rechercher_getfamily')~'?famille=&region='~user.region }}">
                Voir plus de familles</a>
        </div>
    </div>

    <h2>Suggestions des rallyes</h2>
    <div class="contentBlock">
        <div class="rallyeTable">
            {% set flag = 0 %}
            {% for e in eventresult %}
                {% if flag < 3 %}
                    <div class="row clearfix">
                        <div class="col3">
                            <img src="http://placekitten.com/g/300/165">
                        </div>
                        <div class="col6">
                            <h3>{{ e.name }}</h3>

                            <div class="description">
                                <div class="date">{{ e.date|date("d/m/Y \\à\\ g:i") }}</div>
                                <div class="place">{{ e.city }}</div>
                                <p>{{ e.description }}</p>
                            </div>
                        </div>
                        <div class="col2">
                            {{ render(controller('ThirtyOneMemberBundle:Event:participate', { 'eventId': e.id, 'part':0 })) }}
                            <a class="showMore" href="{{ path('thirtyone_member_event_show', {'slug': e.slug}) }}">Voir
                                le
                                rallye</a>
                        </div>
                    </div>
                {% endif %}
                {% set flag = flag + 1 %}
            {% endfor %}
            <div class="viewMore">
                <a class="button" href="{{ path('thirtyone_member_rechercher_getevent')~'?region='~user.region }}">
                    Voir plus de rallyes</a>
            </div>
        </div>
    </div>

{% endblock %}
