{% extends "ThirtyOneMemberBundle::layout.html.twig" %}

{% block content %}
    <div class="contentBlock parrainage">
        <h2>Parrainez vos amis</h2>

        {% if success is defined %}
            <p>{{ success }}</p>
        {% endif %}

        <form action="{{ path('thirtyone_member_default_parrainage') }}" method="POST">
            {{ form_row(form.email1) }}
            {{ form_row(form.email2) }}
            {{ form_row(form.email3) }}
            {{ form_row(form.email4) }}
            {{ form_row(form.email5) }}

            <div class="persMessage">
                <h3>Joignez un message personnel à votre invitation</h3>
                {{ form_row(form.message) }}
            </div>

            <div class="submit">
                {{ form_rest(form) }}
            </div>
        </form>

    </div>
{% endblock %}
