{% extends "ThirtyOneMemberBundle::layout.html.twig" %}

{% block fos_user_content %}
    {% trans_default_domain 'FOSUserBundle' %}

    <form action="{{ path('fos_user_profile_edit') }}" {{ form_enctype(form) }} method="POST" class="fos_user_profile_edit">
        <h2>Informations</h2>
        {{ form_row(form.username) }}
        {{ form_row(form.nbChildren) }}
        <br>
        {{ form_row(form.address) }}
        {{ form_row(form.zipcode) }}
        {{ form_row(form.city) }}
        {{ form_row(form.region) }}

        <h2>Contact</h2>
        {{ form_row(form.email) }}
        {{ form_row(form.phonenumber) }}


        <h2>carte bancaire</h2>



        <h2>Pour enregistrer, saisir votre mot de passe</h2>
        {{ form_rest(form) }}
        <div>
            <input type="submit" value="{{ 'registration.submit'|trans }}"/>
        </div>

    </form>

    <h2>mes commandes</h2>
    {{ render(controller('ThirtyOneMemberBundle:Event:getCmd')) }}

{% endblock fos_user_content %}
