{% extends "ThirtyOneMemberBundle::layout.html.twig" %}
{% block title %}Créer un rallye{% endblock %}
{% block bodyClass %}class="createRallye"{% endblock %}
{% block content %}
    {{ include('ThirtyOneMemberBundle:Event:eventNav.html.twig', {'path':'null'}) }}

    <h2>Créer un rallye</h2>
    <div class="contentBlock">


        {% if error is defined %}
            <div class="error">{{ error }}</div>
        {% endif %}
        <form action="#" method="post" {{ form_enctype(form) }}>
            {{ form_start(form) }}
            {{ form_errors(form) }}

            {{ form_row(form.file) }}
            {{ form_row(form.name) }}
            <div class="date">
                {{ form_row(form.date) }}
            </div>
            {{ form_row(form.adress) }}
            {{ form_row(form.city) }}
            {{ form_row(form.region) }}
            {{ form_row(form.description) }}

            <div class="includes">
                <span>
                    Reportage live
                </span>
                <span>
                    Bornes interactives
                </span>
            </div>


            <div class="services">

                <div id="place" class="row">
                    {{ include('ThirtyOneMemberBundle:Event:getPosition.html.twig', {'pos':1}) }}
                    {% for s in service %}
                        {% if s.type == 1 %}

                            <div class="col3">
                                <img src="{{ asset('uploads/services/'~s.path) }}">

                                <h3> {{ s.name }} </h3>

                                <p> {{ s.description }}</p>
                                <a class="reserve button" href="" data-type="place"
                                   data-price="{{ s.price }}" data-id="{{ s.id }}">
                                    réserver
                                </a>
                            </div>
                        {% endif %}
                    {% endfor %}
                    <a href="#food" class="pinklink">Passer cette étape ></a>
                </div>

                <div id="food" class="row">
                    {% for s in service %}
                        {% if s.type == 2 %}

                            <div class="col3">
                                <img src="{{ asset('uploads/services/'~s.path) }}">

                                <h3> {{ s.name }} </h3>

                                <p> {{ s.description }}</p>
                                <a class="reserve button" href="" data-type="place"
                                   data-price="{{ s.price }}" data-id="{{ s.id }}">
                                    réserver
                                </a>
                            </div>
                        {% endif %}
                    {% endfor %}
                    <a href="#music" class="pinklink">Passer cette étape ></a>
                </div>
                <div id="music" class="row">
                    {% for s in service %}
                        {% if s.type == 3 %}

                            <div class="col3">
                                <img src="{{ asset('uploads/services/'~s.path) }}">

                                <h3> {{ s.name }} </h3>

                                <p> {{ s.description }}</p>
                                <a class="reserve button" href="" data-type="place"
                                   data-price="{{ s.price }}" data-id="{{ s.id }}">
                                    réserver
                                </a>
                            </div>
                        {% endif %}
                    {% endfor %}
                    <a href="#resume" class="pinklink">Passer cette étape ></a>
                </div>


            </div>


            {{ form_row(form.private) }}
            {{ form_row(form.place) }}
            {{ form_row(form.food) }}
            {{ form_row(form.music) }}

            <div id="resume" class="resume">
                lieu : <span class="place"></span>
                traiteur : <span class="food"></span>
                dj : <span class="music"></span>
            </div>

            {{ form_row(form.enregistrer) }}
            {{ form_rest(form) }}
        </form>
    </div>
{% endblock %}