{% extends "ThirtyOneMemberBundle::layout.html.twig" %}
{% block title %}Voir rallye{% endblock %}
{% block bodyClass %}class="showRallye"{% endblock %}
{% block content %}
    {% if (event.date|date("Ymd") > "now"|date("Ymd")) %}
        {{ include('ThirtyOneMemberBundle:Event:eventNav.html.twig', {'path':'avenir'}) }}
        <h2>Prochain rallye</h2>
    {% else %}
        {{ include('ThirtyOneMemberBundle:Event:eventNav.html.twig', {'path':'passe'}) }}
        <h2>Rallye passé</h2>
    {% endif %}

    <div class="contentBlock ">
        <div class="rallyeTable">

            <div class="row clearfix">
                <div class="col3">
                    <img src="{{ asset('uploads/documents/'~event.path) }}">
                </div>
                <div class="col6">
                    <h3>{{ event.name }}</h3>

                    <div class="description">
                        <div class="date">{{ event.date|date("d/m/Y \\à\\ g:i") }}</div>
                        <div class="place">{{ event.city }}</div>
                        <p>{{ event.description }}</p>
                    </div>
                </div>
                <div class="col2">
                    {{ render(controller('ThirtyOneMemberBundle:Event:participate', { 'eventId': event.id, 'part':'1' })) }}

                </div>
            </div>

            {% if (event.date|date("Ymd") <= "now"|date("Ymd")) %}

                <div class="row reportage">
                    <h3>Reportage</h3>
                    <video controls="controls" poster="{{ asset('uploads/video/'~'Reportage_soiree.jpg') }}"
                           style="width:100%">
                        <source src="{{ asset('uploads/video/'~'Reportage_soiree.m4v' ) }}" type="video/mp4"/>
                        <source src="{{ asset('uploads/video/'~'Reportage_soiree.webm') }}" type="video/webm"/>

                        <source src="{{ asset('uploads/video/'~'Reportage_soiree.ogv') }}" type="video/ogg"/>
                        <source src="{{ asset('uploads/video/'~'Reportage_soiree.mp4') }}"/>
                        <object type="application/x-shockwave-flash"
                                data="{{ asset('uploads/video/'~'Reportage_soiree.swf') }}" width="1920" height="1080"
                                style="position:relative;">

                        </object>
                    </video>
                </div>
            {% endif %}
        </div>
    </div>

    <div class="contentBlock clearfix row">
        <h3 class="family">Familles participantes</h3>

        <div class="familyTable">

            {% for fam in event.participant %}

                <div class="col3">
                    {% for info in fam.informations %}
                        <img src="{{ asset('uploads/documents/'~info.path|split('.').0~'-1.jpg') }}
                    "/>
                    {% endfor %}

                    <h3 class="center">{{ fam.username }}</h3>

                    <a class="showMore"
                       href='{{ path('thirtyone_member_default_profil', {'slug': fam.slug}) }}'>Voir le profil</a>
                </div>

            {% endfor %}
        </div>
    </div>





{% endblock %}