{% extends "ThirtyOneMemberBundle::layout.html.twig" %}
{% block title %}Résultats{% endblock %}
{% block content %}
    <div class="breadcrumb">
        <a href='{{ path('thirtyone_member_rechercher_rechercher') }}'>
            recherche
        </a> > <a href='#'>
            résultat de la recherche
        </a>
    </div>
    <div class="contentBlock recherche result">
        <h2>Rechercher une famille</h2>

        <p>Résultats de la recherche : "famille:{{ searchFam }}. région: {{ searchRegion }}"</p>
        {{ include('ThirtyOneMemberBundle:Rechercher:form.html.twig', {'family':1}) }}
    </div>
    <div class="contentBlock">
        {% if error is defined %}
            <p>{{ error }}</p>

        {% else %}
            <div class="familyTable">
                {% for f in result %}
                    <div class="row clearfix">
                        <div class="col3">
                            {% for info in f.informations %}
                            <img src="{{ asset('uploads/documents/'~info.path|split('.').0~'-1.jpg') }}
                    "/>
                        </div>
                        <div class="col6">
                            <h3>{{ f.username }}</h3>

                            <div class="description">

                                 <p>{{ info.history|length > 250 ? info.history|slice(0, 250) ~ '...' : info.history  }} </p>
                            </div>
                        </div>
                        {% endfor %}


                        <div class="col2">
                            <a class="showMore" style="margin-top:15px;"
                               href="{{ path('thirtyone_member_default_profil', {'slug': f.slug}) }}">Rencontrer</a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    </div>
{% endblock %}
