{% extends "ThirtyOneMemberBundle::layout.html.twig" %}

{% block content %}



    <p>Attention. Ajouter les membres de votre famille individuellement.</p>


    <div class="GdParent">
        {% if (parent is defined) and (parent|length == 2) %}
            {% if gdparent is defined %}
                {% for gp in gdparent %}
                    <div>{{ gp.firstname }} {{ gp.birthname }}</div>
                {% endfor %}
                {% if gdparent|length < 4 %}
                    {% for i in gdparent|length+1..4 %}

                        <div class="form {{ i }}">
                            <div class="addForm">
                                <a href="#" id="GdParent" class="{{ i }}">Ajouter gd
                                    parent</a>
                            </div>
                        </div>
                    {% endfor %}
                {% endif %}

            {% else %}
                {% for i in 1..4 %}

                    <div class="form {{ i }}">
                        <div class="addForm">
                            <a href="#" id="GdParent" class="{{ i }}">Ajouter gd
                                parent</a>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}

        {% else %}
            <p>Les parents sont nécessaires afin d'ajouter un grand parent.</p>
        {% endif %}
    </div>

    <div class="Parent">
        <h2>Parents</h2>
        {% if parent is defined %}
            {% for p in parent %}
                <div>{{ p.firstname }} {{ p.birthname }}</div>
            {% endfor %}
            {% if parent|length < 2 %}
                <div class="form 2">
                    <div class="addForm">
                        <a href="#" id="Parent" class="2">Ajouter un parent</a>
                    </div>
                </div>
            {% endif %}

        {% else %}
            {% for i in 1..2 %}

                <div class="form {{ i }}">
                    <div class="addForm">
                        <a href="#" id="Parent" class="{{ i }}">Ajouter un parent</a>
                    </div>
                </div>
            {% endfor %}
        {% endif %}

    </div>
    <div class="Child">
        <h2>Enfants</h2>
        {% if child is defined %}
            {% for c in child %}
                <div>{{ c.firstname }}</div>
            {% endfor %}
            {% if child|length < nbChildren %}
                {% for i in child|length+1..nbChildren %}

                    <div class="form {{ i }}">
                        <div class="addForm">
                            <a href="#" id="Child" class="{{ i }}">Ajouter un
                                enfant</a>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}

        {% else %}
            {% for i in 1..nbChildren %}

                <div class="form {{ i }}">
                    <div class="addForm">
                        <a href="#" id="Child" class="{{ i }}">Ajouter un
                            enfant</a>
                    </div>
                </div>
            {% endfor %}
        {% endif %}
    </div>

{% endblock %}